@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --box-shadow: 0px 15px 30px 0px rgba(63, 42, 146, 0.08);
    --grey: #39464c;
    --font-family: "Work Sans";
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    cursor: none;
    /* cursor: url(/images/batarang.png) 16 16 auto; */
}

#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: url(./images/background\ .jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

h1,h2{
    color: antiquewhite;
    margin: 0;
}

#board{
    width: 460px;
    height: 460px;
    border-radius: 28px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    background-image: url(./images/grey.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#board div{
    width: 145px;
    height: 145px;
    background-image: url(./images/door.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board div img{
    width: 100px;
    height: 128px;
    pointer-events: none;
    user-select: none;
}

#restart{
    background-color: grey;
    color: antiquewhite;
    padding: 10px 18px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease all;
}
#restart.active{
    opacity: 1;
    pointer-events: all;
}
#restart:hover{
    transform: scale(0.95);
}

#custom-cursor{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(./images/batarang.png) no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transform-origin: center;
}


#custom-cursor.spinning{
    animation: spin 0.7s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


